<h1 class="mainTitle">Discover the Region</h1>
<div class="benefits">
  <div class="benefit-card" *ngFor="let benefit of benefits">
    <h2 class="text">{{ benefit.title }}</h2>
    <a href="{{ benefit.url }}"><img div src="{{ benefit.img }}" alt="{{ benefit.title}}" /></a>
  </div>
</div>

<mat-divider></mat-divider>

<div class="season">
  <!--
    <div class="dream">
      <video autoplay loop muted>
        <source src="../../assets/vidéos/restaurant.mp4" type="video/mp4" />
      </video>
      <h2>Summer</h2>
    </div>
  -->
  <div class="activites" *ngFor="let a of summer">
    <a href="{{ a.link }}">
      <h2>{{ a.title }}</h2>
    </a>
    <p>
      {{ a.description }}
    </p>
  </div>
</div>

<mat-divider></mat-divider>

<div class="season">
  <h1>Winter</h1>
  <div class="activites" *ngFor="let a of winter">
    <a href="{{ a.link }}">
      <h2>{{ a.title }}</h2>
    </a>
    <p>
      {{ a.description }}
    </p>
  </div>
</div>