<div class="mainTitle">Discover the Bernese Oberland.</div>
<mat-divider></mat-divider>

<div class="season">
  <!--
    <div class="dream">
      <video autoplay loop muted>
        <source src="../../assets/vidéos/restaurant.mp4" type="video/mp4" />
      </video>
      <h2>Summer</h2>
    </div>
  -->
  <h2 i18n="season-title">Summer</h2>
  <div class="activites" *ngFor="let a of summer">
    <a href="{{ a.link }}" target="_blank">
      <h3>{{ a.title }}</h3>
    </a>
    <p>
      {{ a.description }}
    </p>
  </div>
</div>

<mat-divider></mat-divider>

<div class="season">
  <h2 i18n="season-title2">Winter</h2>
  <div class="activites" *ngFor="let a of winter">
    <a href="{{ a.link }}" target="_blank">
      <h3>{{ a.title }}</h3>
    </a>
    <p>
      {{ a.description }}
    </p>
  </div>
</div>

<mat-divider></mat-divider>

<div class="benefits">
  <div class="benefit-card" *ngFor="let benefit of benefits">
    <a href="{{ benefit.url }}">
      <h3 class="text">{{ benefit.title }}</h3>
      <img div src="{{ benefit.img }}" alt="{{ benefit.title}}" />
    </a>
  </div>
</div>
