<div class="text">
  <h1 class="mainTitle" i18n="team-title | titre de la page">Team</h1>
  <p i18n="title-description | description de l'équipe de l'hotel">
    We are a highly motivated international team looking forward to offer you an exceptional stay in our hotel and
    restaurant. We're happy to share a good moment with our guests, therefore we put our best effort daily to make each
    moment count for you. We're looking forward to meet you soon!
  </p>
</div>

<div class="team">
  <mat-card *ngFor="let w of workers" class="team-card">
    <mat-card-header>
      <mat-card-title>{{ w.firstname }}, {{ w.lastname }}</mat-card-title>
      <mat-card-subtitle>{{ w.function }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ w.image }}" alt="{{ w.function }}" />
  </mat-card>
</div>