.text {
  display: block;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  text-align: justify;
  font-size: larger;
}

.team {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-card {
  margin-top: 1%;
  min-width: 350;
  img {
    max-height: 600px;
  }
}
