<div class="text">
  <h1 class="mainTitle">Team</h1>
  <p>
    We are a motivated and dedicated international team looking forward to
    offering you an exceptional stay in our hotel and restaurant. We are happy
    about good-humored guests and are always ready to give our best for you. We
    look forward to getting to know each other soon!
  </p>
</div>

<div class="team-photo">
  <div *ngFor="let w of workers" class="worker">
    <img class="worker-photo" src="{{ w.image }}" alt="{{ w.function }}" />
    <p class="worker-description">
      {{ w.firstname }},{{ w.lastname }}: {{ w.function }}
    </p>
  </div>
</div>
