<div class="text">
  <h1 class="mainTitle" i18n="team-title | titre de la page">Team</h1>
  <p i18n="title-description | description de l'équipe de l'hotel">
    We are a motivated and dedicated international team looking forward to
    offering you an exceptional stay in our hotel and restaurant. We are happy
    about good-humored guests and are always ready to give our best for you. We
    look forward to getting to know each other soon!
  </p>
</div>

<div class="team">
  <mat-card *ngFor="let w of workers" class="team-card">
    <mat-card-header>
      <mat-card-title>{{ w.firstname }}, {{ w.lastname }}</mat-card-title>
      <mat-card-subtitle>{{ w.function }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ w.image }}" alt="{{ w.function }}" />
  </mat-card>
</div>