<h1> Order a subscription </h1>
<form [formGroup]="fitnessForm" (ngSubmit)="onSubmit()" class="form">
  <mat-selection-list formControlName="offers">
    <mat-list-option *ngFor="let offer of offers" [value]="offers">
      {{offer.description}}
      {{offer.price}}CHF
    </mat-list-option>
  </mat-selection-list>
  <div class="contact">
    <mat-form-field appearance="standard">
      <input required matInput type="text" formControlName="firstname" placeholder="Firstname">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input required matInput type="text" formControlName="lastname" placeholder="Lastname">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input required matInput type="text" formControlName="birthdate" placeholder="Birthdate">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input required matInput type="text" formControlName="address" placeholder="Address">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input required matInput type="text" formControlName="city" placeholder="City">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input required matInput type="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="fitnessForm.invalid">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" formControlName="telephone" placeholder="Telephone">
      <mat-hint>+41xxyyyzzzz</mat-hint>
      <mat-error *ngIf="fitnessForm.invalid">Invalid number</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="warning" aria-label="Submit review" class="orderButton" [disabled]="!fitnessForm.valid">
    <mat-icon>input</mat-icon>
  </button>
</form>
