<div class="reservation">
  <mat-form-field appearance="fill" class="datepicker">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [formGroup]="range"
      [rangePicker]="picker"
      color="accent"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker touchUi #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')"
      >Invalid start date</mat-error
    >
    <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')"
      >Invalid end date</mat-error
    >
  </mat-form-field>
  <a href="{{bookingLink}}"
    ><button mat-raised-button color="primary" class="book-btn">Book</button></a
  >
</div>

<link href="https://live.ipms247.com/themes/reservation/css/bookingbtn/resui_bookingbox.css" rel="stylesheet" type="text/css" />
<link href="https://live.ipms247.com/themes/reservation/css/bookingbtn/resui_datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://live.ipms247.com/themes/reservation/js/bookingbtn/jquery-a.l.d.js" type="text/javascript"></script>
<script src="https://live.ipms247.com/themes/reservation/js/bookingbtn/jquery-ui.js" type="text/javascript"></script>
<script src="https://live.ipms247.com/themes/reservation/js/bookingbtn/common.js" type="text/javascript"></script>
<script src="https://live.ipms247.com/themes/reservation/js/bookingbtn/resui_resbookingbox.js" type="text/javascript"></script>
<form name="_resBBBox" action="https://live.ipms247.com/booking/book-rooms-hotelbeausite" method="post">
<div class="bb_resbox" id="bb_resBookingBox">
</div>
</form>

