<mat-toolbar class="toolbar">
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select [(value)]="language" (selectionChange)="displayPromotion()">
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{language.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">
    <button mat-button style="width:25%" color="warning" (click)="createPromotion()">Add</button>
    <button mat-button style="width:25%" color="warning" (click)="deletePromotions()">Delete</button>
    <button mat-button style="width:25%" (click)="updatePromotions()"> Save </button>
    <button mat-button style="width:25%" id="allButton" (click)="selectAll()">Select All </button>
    <button mat-button style="width:4%" id="allButton" (click)="getAllPromotions()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="promotions">
  <ng-container *ngFor="let promotion of promotions">
    <div class="card" *ngIf="promotion.displayed" (click)="promotion.selected = !promotion.selected;">
      <div>
        <h2>Title</h2>
        <input matInput [(ngModel)]="promotion.title" [ngModelOptions]="{standalone: true}" />
      </div>

      <div>
        <h2>Subtitle</h2>
        <input matInput [(ngModel)]="promotion.subtitle" [ngModelOptions]="{standalone: true}" />
      </div>

      <div>
        <h2>Language</h2>
        <mat-select [(value)]="promotion.language">
          <mat-option value="en">English</mat-option>
          <mat-option value="fr">Français</mat-option>
          <mat-option value="de">Deutsch</mat-option>
        </mat-select>
      </div>

      <div class="description">
        <h2>Description</h2>
        <textarea matInput cdkAutosizeMinRows="5" [(ngModel)]="promotion.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <!--> File Input <!-->
      <ng-container [formGroup]="promotion.filesForm">
        <div class="img">
          <div class="container">
            <h2>Image</h2>
            <mat-form-field>
              <ngx-mat-file-input formControlName="image" [multiple]="false" accept="image/webp, image/jpeg, image/png">
                <mat-icon ngxMatFileInputIcon>folder</mat-icon>
              </ngx-mat-file-input>
            </mat-form-field>
          </div>
          <img src="{{promotion.image}}">
        </div>
        <div class="pdf">
          <h2>PDF</h2>
          <mat-form-field>
            <ngx-mat-file-input formControlName="pdf" [multiple]="false" accept="application/pdf">
              <mat-icon ngxMatFileInputIcon>folder</mat-icon>
            </ngx-mat-file-input>
          </mat-form-field>
        </div>
      </ng-container>

      <mat-checkbox class="checkbox" [checked]="promotion.selected"></mat-checkbox>
    </div>
  </ng-container>
</div>
