.promotions {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promotion-card {
  margin-top: 1%;
  max-width: 48%;
  min-width: 300px;
  img {
    max-height: 600px;
    cursor: pointer;
  }
}
