@import 'https://fonts.googleapis.com/css2?family=Great Vibes:wght@400;700&display=swap';

ngb-carousel {
  max-height: 80%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

mat-card {
  margin: 2em;
}

.description {
  font-size: 1em;
  text-align: justify;
  margin: 1em;
}

.dream {
  position: relative;
  height: 85%;
  overflow: hidden;

  video {
    position: relative;
    z-index: 0;
    width: 100%;
  }

  h2 {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    font-family: 'Great Vibes';
    width: 65%;
    text-shadow: 1em;
    text-align: center;
    font-size: 3.8em;
    line-height: 1em;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 0.2em;
    color: black;
    padding: 0.1em;
    padding-top: 18px;
    padding-bottom: 10px;
  }
}

.flex-item-left {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-basis: 60%;
}

.flex-item-right {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-basis: 40%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .dream {
    height: 35%;

    h2 {
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%);
      top: 10%;
      font-family: 'Great Vibes';
      width: 70%;
      text-shadow: 1em;
      text-align: center;
      font-size: 2em;
      line-height: 1em;
      background-color: rgba(255, 255, 255, 0.56);
      border-radius: 0.2em;
      color: black;
      padding: 0.1em;
      padding-top: 18px;
      padding-bottom: 10px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 15px;
  max-width: 28%;
  min-width: 310px;
  cursor: pointer;

  img {
    max-height: 600px;
  }

  background-color: rgba(255, 255, 255, 0.56);
}

@media (max-width: 400px) {
  .dream {
    height: 23%;

    h2 {
      width: 80%;
    }
  }
}