<ngb-carousel *ngIf="images" class="carousel">
  <ng-template ngbSlide *ngFor="let image of images" >
    <div class="picsum-img-wrapper">
      <img src="{{image}}" alt="Hotel Beau-Site teaser">
    </div>
  </ng-template>
</ngb-carousel>

<app-bs-book class="booking"></app-bs-book>

<div class="dream">
  <video autoplay loop muted>
    <source src="../../assets/vidéos/restaurant.mp4" type="video/mp4">
  </video>
  <h2>Welcome to Hôtel Beau-Site</h2>
</div>

<h2 class="mainTitle" i18n="home-title | Accroche principale">SPEND AN UNFORGETTABLE HOLIDAY IN A CHALET-HOTEL IN SWITZERLAND</h2>

<mat-card i18n="home-description | description de l'hôtel" class="description">
  Surrounded by the Alps , green meadows , towering cliffs and amidst the ancient tradition and genuine Swiss culture is romantic Adelboden Hotel Beau Boutique This luxury boutique hotel has 36 rooms, a beautiful restaurant with traditional cuisine
  and a spa and fitness area.
  In recent years it has become one of the best hotels in Adelboden , and even in the Bernese Oberland. The hotel offers a very special combination of traditional chalet spirit and modern comforts of a four star country house style.
</mat-card>

<div class="cards">
  <mat-card class="card" *ngFor="let card of cards">
    <mat-card-header>
      <mat-card-title>{{card.title | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{card.subtitle | lowercase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{card.img}}" alt="{{card.title}}">
    <mat-card-actions>
      <a routerLink="{{card.url}}"><button mat-stroked-button i18n="cards-btn | more button" color="accent">More informations</button></a>
    </mat-card-actions>
  </mat-card>
  <h2 *ngIf="!cards?.length" i18n="promotions-msg | no proms msg">No promotion are actually available.</h2>
</div>

