@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

$dream: 'Satisfy';
@import url("https://fonts.googleapis.com/css2?family=" +$dream+":wght@400;700&display=swap");

.well {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 50%;
}

.well :hover {
  cursor: pointer;
}

.wellness {
  font-family: 'Satisfy';
  font-size: 3em;
  width: 50%;
  background-image: url("../../assets/images/wellness/wellness_repos.webp");
  background-size: 100% 100%;
  display: flex;
}

.fitness {
  font-family: 'Oswald';
  font-size: 3em;
  width: 50%;
  background-image: url("../../assets/images/wellness/fitness_machines.webp");
  background-size: 100% 100%;
  display: flex;
}

.overlay {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  margin: .6em;
}

.title {
  color: white;
  font-size: 2.1em;
  text-align: center;
  top: 47%;
  position: relative;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 850px) {
  .well {
    height: 200px;
  }
}
