<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <div class="header">
    <h1 mat-dialog-title i18n="modal-title | titre donnez votre avis">
      Tell us about your stay.
    </h1>

    <button mat-fab color="primary" aria-label="Submit review" [disabled]="!reviewForm.valid">
      <mat-icon>input</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="reviewForm">
      <label i18n="modal-name | champs nom prénom">
        Your Name
        <mat-form-field appearance="outline">
          <input required matInput type="text" formControlName="author" placeholder="First Name, Surname" />
        </mat-form-field>
      </label>

      <label i18n="modal-description | champs description" class="review">
        Your Review
        <mat-form-field appearance="outline">
          <textarea required matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
            i18n-placeholder="modal-placeholder | donner envie d'écrire"
            placeholder="Describe your stay. We're all ears!" formControlName="description"></textarea>
          <mat-error *ngIf="reviewForm.invalid">please tell us more</mat-error>
        </mat-form-field>
      </label>


      <label class="score" formGroupName="rating">
        <p i18n="modal-clean | critère clean">Staff</p>
        <mat-slider required thumbLabel formControlName="Staff" min="1" max="10" step="1"></mat-slider>
        <p i18n="modal-service | critère service">Cleanliness</p>
        <mat-slider required thumbLabel formControlName="Cleanliness" min="1" max="10" step="1"></mat-slider>
        <p i18n="modal-comfort | critère comfort">Location</p>
        <mat-slider required thumbLabel formControlName="Location" min="1" max="10" step="1"></mat-slider>
        <p i18n="modal-spot | critère spot">Comfort</p>
        <mat-slider required thumbLabel formControlName="Comfort" min="1" max="10" step="1"></mat-slider>
        <p i18n="modal-amenity | critère amenity">Breakfast</p>
        <mat-slider required thumbLabel formControlName="Breakfast" min="1" max="10" step="1"></mat-slider>
        <p i18n="modal-breakfast | critère breakfast">Value</p>
        <mat-slider required thumbLabel formControlName="Value" min="1" max="10" step="1"></mat-slider>
        <p i18n="modal-breakfast | critère breakfast">Service</p>
        <mat-slider required thumbLabel formControlName="Service" min="1" max="10" step="1"></mat-slider>
      </label>
    </div>
  </mat-dialog-content>
</form>