.reviewForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.score {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  max-width: 350px;
}

label {
  display: flex;
  flex-direction: column;
}

.review {
  width: 90%;
  max-width: 600px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}