<div class="fan">
  <div class="big">
    <h1 class="title">Spa</h1>
    <div class="text">
      <p>Our Spa is the ultimate relaxation space. You’ll be feeling rejuvenated, revitalised and more laid-back than a cat in a pool of sunlight.</p>
    </div>
  </div>
  <div class="small">
    <img src="../../assets/images/photos/wellness_SPA.jpg" alt="spa" style="width:100%">
  </div>
</div>

<div class="fan">
  <div class="small">
    <img src="../../assets/images/photos/wellness_outdoor_sauna.jpg" alt="sauna" style="width:100%">
  </div>
  <div class="big">
    <h1 class="title">Outdoor Wellness</h1>
    <div class="text">
      <p>Gardensauna with cold water Hotwater pot (Fr. 45.00 / only on request)</p>
    </div>
  </div>
</div>

<div class="fan">
  <div class="big">
    <h1 class="title">Massages</h1>
    <div class="tarif">
      <div class="massage">
        <p>Back Massage</p>
        <p>30'/50.- , 60'/90.-</p>
      </div>
      <div class="massage">
        <p>Foot Massage</p>
        <p>30'/50.- , 60'/90.-</p>
      </div>
      <div class="massage">
        <p>Full Body Massage</p>
        <p>30'/50.- , 60'/90.-</p>
      </div>
      <div class="massage">
        <p>Oil Massage</p>
        <p>30'/50.- , 60'/90.-</p>
      </div>
    </div>
  </div>
  <div class="small">
    <img src="../../assets/images/photos/wellness_massage.jpg" alt="sauna" style="width:100%">
  </div>
</div>

<div class="fan">
  <div class="small">
    <img src="../../assets/images/photos/wellness_repos.jpg" alt="sauna" style="width:100%">
  </div>
  <div class="big">
    <h1 class="title">Salle de repos</h1>
    <div class="text">
      <p>The perfect place to rest, or read a book</p>
    </div>
  </div>
</div>
