.fan {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  background-color: rgba(62, 28, 34, 0.9);
  justify-content: center;
}

.container {
  padding: 0;
  min-width: 500px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-basis: 50%;
  color: white;
  flex-flow: column;
  justify-content: center;
}

.title {
  margin-top: 0.5em;
  text-align: center;
  font-family: cursive;
  font-size: 5em;
  line-height: 1em;
}

.text {
  justify-content: center;
  text-align: justify;
}

.left {
  margin-left: 20%;
  margin-right: 5%;
}

.right {
  margin-left: 5%;
  margin-right: 20%;
}

img {
  max-width: 100%;
  margin: 0;
}

p {
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

.massage {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
  justify-content: space-between;
  align-items: flex-start;
}

.tarif {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
