.fan {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  background-color: rgba(62,28,34,0.9);

  .big {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: 60%;
    color: white;
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }

  .small {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: 40%;
    height: 100%;
  }

  .title {
    margin: 1em;
    text-align: center;
  }

  .tarif {
    display: flex;
    flex-direction: column;
  }

  .text {
    justify-content: center;
    text-align: justify;
    margin: 10% 2em 2em;
  }

  .massage {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    height: 4em;
    justify-content: space-between;
    align-items: flex-start;
  }
}
