<div class="fan">
  <div class="container">
    <h1 class="title left" i18n="spa-title | Sanitas per Aquam titre">Spa</h1>
    <p class="text left" i18n="spa-description">
      Enjoy various offers in our container wellness oasis. Our spa has a sauna, a
      sanarium, a steam bath, an infrared sauna and a spacious relaxation room
      with a wonderful mountain view where you can relax.
    </p>
  </div>
  <div class="container">
    <img src="../../assets/images/wellness-wellness/spa.webp" alt="SPA" />
  </div>

  <div class="container">
    <img src="../../assets/images/wellness-wellness/outdoor_sauna.webp" alt="Sauna" />
  </div>
  <div class="container">
    <h1 class="title right" i18n="out-title">Outdoor Wellness</h1>
    <p class="text right" i18n="out-description | description du spa extérieur">
      Take a sauna in our cosy barrel sauna, which is located in the outdoor
      area. After a dip in the cold water pool or the cold water shower, you can
      enjoy the peace and quiet in the adjacent relaxation room.
    </p>
  </div>

  <div class="container">
    <h1 class="title" i18n="massage-title">Massages</h1>
    <p class="text" i18n="massage-description">
      Book a soothing massage and let our masseuses pamper you. Book the
      appointment early enough, so that it also works out safely with us.
    </p>
    <div class="tarif">
      <div *ngFor="let m of massages" class="massage">
        <p>{{ m.name }}</p>
        <p>{{ m.price }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <img src="../../assets/images/wellness-wellness/massage.webp" alt="Massage" />
  </div>

  <div class="container">
    <img src="../../assets/images/wellness-wellness/repos.webp" alt="Calm room" />
  </div>
  <div class="container">
    <h1 class="title right" i18n="chill-title">Lounge room</h1>
    <p class="text right" i18n="chill-description">
      In the spacious relaxation room you can relax, read a book or enjoy the
      view of the wonderful Adelboden mountain panorama.
    </p>
  </div>
</div>