.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: rgba(62,28,34,0.9);
  z-index: 3;
}

span {
  margin-left: 15px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.logo {
  height: 100%;
}

.ils {  
  max-width: 150px;
  margin-right: 1em;
}
