<h1 class="mainTitle">Beau-Site Reviews</h1>

<div class="review-header">
  <div class="review-header">
    <h1
      class="sectionTitle"
      i18n="review-title | titre pour écrire son propre review"
    >
      Write a review
    </h1>
    <button mat-fab color="primary" class="addReview" (click)="addReview()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="review-header">
    <h1>Mean</h1>
    <button mat-fab color="accent" class="grade">
      {{ average | number: "1.1-1" }}
    </button>
  </div>
</div>
<mat-card class="rating-card" *ngFor="let review of reviews">
  <mat-card-header>
    <mat-card-title>{{ review.author }}</mat-card-title>
    <mat-card-subtitle>{{ review.date | date: "short" }}</mat-card-subtitle>
    <button mat-fab color="accent" class="grade">
      {{ averageRating(review.rating) | number: "1.1-1" }}
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="rating">
    <div class="rating-item" *ngFor="let r of review.rating | keyvalue">
      <p>{{ r.key }}</p>
      <p class="rating-number">{{ r.value }}/10</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>{{ review.description }}</p>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<h1 class="mainTitle">Reviews us on</h1>

<div class="benefits">
  <div class="benefit-card" *ngFor="let benefit of benefits">
    <a href="{{ benefit.url }}"><img div src="{{ benefit.img }}" /></a>
  </div>
</div>
