<h1 class="mainTitle" i18n="review-title | title of hotel reviews">
  Reviews us
</h1>

<div class="text">
  <p i18n="review-description | descriptions des avis">
    We are always happy to receive your feedback, suggestions, and constructive criticism. You're welcome to share your
    observations with us directly on site or on our website. We strive to improve our services constantly, your comments
    allow us to accomplish this. We value your opinion and are looking forward to reading your suggestions!
  </p>
</div>

<div class="review-header">
  <div class="review-header">
    <h2 class="sectionTitle" i18n="review-welcome | titre pour écrire son propre review">
      Write a review
    </h2>
    <button mat-fab color="primary" class="addReview" (click)="addReview()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="review-header">
    <h2 class="sectionTitle" i18n="review-note | Moyenne des notes des reviews">
      Average Score
    </h2>
    <button mat-fab color="accent" class="grade">
      {{ average | number: "1.1-1" }}
    </button>
  </div>
</div>

<div class="rating">
  <mat-card class="rating-card" *ngFor="let review of reviews">
    <mat-card-header>
      <mat-card-title>{{ review.author }}</mat-card-title>
      <mat-card-subtitle>{{ review.date | date: "short" }}</mat-card-subtitle>
      <button mat-fab color="accent" class="grade">
        {{ averageRating(review.rating) | number: "1.1-1" }}
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="rating">
      <div class="rating-item" *ngFor="let r of review.rating | keyvalue">
        <p>{{ r.key }}</p>
        <p class="rating-number">{{ r.value }}/10</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>{{ review.description }}</p>
    </mat-card-content>
  </mat-card>
</div>

<mat-divider></mat-divider>

<h2 class="sectionTitle" i18n="reviews-external | plus de reviews en externe(titre)">
  Or feel free to review us on
</h2>

<div class="benefits">
  <div class="benefit-card" *ngFor="let benefit of benefits">
    <a href="{{ benefit.url }}"><img src="{{ benefit.img }}" alt="{{ benefit.title }}" /></a>
  </div>
</div>