.text{
  display: block;
  margin-right: 5%;  
  margin-left: 5%;
  margin-top: 2%;
  text-align: justify;
  font-size:larger
}

.benefits {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit-card {
  margin-left: 20px;
  margin-right: 20px;

  img {
    width: 100px;
    max-width: 200px;
    min-width: 50px;
  }
}

.review-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin: 2em;
  padding: 0.2em;

  button {
    margin: 1em;
  }
}

.addReview {
  margin-left: 2%;
}

.rating-card {
  max-width: 90%;
  margin: 2% 5%;
}

.grade {
  margin-bottom: 1%;
  margin-right: 3%;
  clickable: false;
}

.rating {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.rating-item {
  flex-flow: column wrap;
}

.rating-number {
  color: gold;
}

mat-card-content {
  margin-top: 4%;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}
