<div class="dream">
  <video autoplay loop muted>
    <source src="../../assets/vidéos/restaurant.mp4" type="video/mp4">
  </video>
</div>

<div class="display-menu">
  <h1 class="sectionTitle" i18n="carte-title | titre des menus à la carte">À La Carte</h1>
  <pdf-viewer *ngIf="carteMenu; else noCarteMenu" [src]="carteMenu.pdf" [render-text]="true" [original-size]="false"
    [zoom-scale]="'page-width'" style="display:block;"></pdf-viewer>
  <ng-template #noCarteMenu>
    <h2 style="text-align:center;" i18n="carte-error | erreur">Our à la carte selection will be available again during the next season.
    </h2>
  </ng-template>
</div>

<div class="display-menu">
  <h1 class="sectionTitle" i18n="halfboard-title | Demi-Pension title">Today's Halfboard Menu</h1>
  <pdf-viewer *ngIf="halfboard; else noHalfboard" [src]="halfboard.pdf" [render-text]="true" [original-size]="false"
    [zoom-scale]="'page-width'" style="display:block;"></pdf-viewer>
  <ng-template #noHalfboard>
    <h2 style="text-align:center;" i18n="halfboard-error | pas de Demi-Pension">At the moment, we offer Halfboard only
      on request.</h2>
  </ng-template>
</div>

<div class="display-menu">
  <h1 class="sectionTitle" i18n="banquet-title | banquet title">Banquet Menus</h1>
  <div *ngIf="banquets?.length; else noBanquet">
    <ng-container *ngFor="let b of banquets">
      <h2>{{ b.title }}</h2>
      <pdf-viewer [src]="b.pdf" [render-text]="true" [original-size]="false" [zoom-scale]="'page-width'">
      </pdf-viewer>
    </ng-container>
  </div>
  <ng-template #noBanquet>
    <h2 style="text-align:center;" i18n="banquet-error | pas de menus spéciaux">At the moment, we offer Banquets only
      on request.
    </h2>
  </ng-template>
</div>

<!--
<div class="meals">
  <h1 class="sectionTitle" i18n="restaurant-title2 | Notre carte title">Our Menu</h1>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Starters">
      <div class="meals">
        <mat-card class="meal-item" *ngFor="let meal of starters">
          <mat-card-header>
            <h2>{{meal.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{meal.image}}" alt="{{meal.title}}">
          <mat-card-content>
            <p>{{meal.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{meal.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Main Course">
      <div class="meals">
        <mat-card class="meal-item" *ngFor="let meal of mains">
          <mat-card-header>
            <h2>{{meal.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{meal.image}}" alt="{{meal.title}}">
          <mat-card-content>
            <p>{{meal.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{meal.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Desserts">
      <div class="meals">
        <mat-card class="meal-item" *ngFor="let meal of desserts">
          <mat-card-header>
            <h2>{{meal.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{meal.image}}" alt="{{meal.title}}">
          <mat-card-content>
            <p>{{meal.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{meal.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
-->

<div class="book">
  <h1 class="sectionTitle" i18n="restaurant-reservation | réservation">Reservations: +41 (0)33 673 82 82 </h1>
</div>