<div class="dream">
  <video autoplay loop muted>
    <source src="../../assets/vidéos/restaurant.mp4" type="video/mp4">
  </video>
</div>

<div class="display-menu">
  <h1 class="sectionTitle">A la carte</h1>
  <pdf-viewer *ngIf="carteMenu; else noCarteMenu" [src]="carteMenu.pdf" [render-text]="true" [zoom-scale]="'page-width'" style="display:block;"></pdf-viewer>
  <ng-template #noCarteMenu>
    <h2 style="text-align:center;">We don't provide a la carte menu yet.</h2>
  </ng-template>
</div>

<div class="display-menu">
  <h1 class="sectionTitle" i18n="restaurant-title | Demi-Pension title">Halfboard</h1>
  <pdf-viewer *ngIf="halfboard; else noHalfboard" [src]="halfboard.pdf" [render-text]="true" [zoom-scale]="'page-width'" style="display:block;"></pdf-viewer>
  <ng-template #noHalfboard>
    <h2 style="text-align:center;">The halfboard is only available on demand</h2>
  </ng-template>
</div>

<div class="display-menu">
  <h1 class="sectionTitle" i18n="restaurant-title | Demi-Pension title">Banquet Menus</h1>
  <pdf-viewer *ngIf="banquet; else noBanquet" [src]="banquet.pdf" [render-text]="true" [zoom-scale]="'page-width'" style="display:block;"></pdf-viewer>
  <ng-template #noBanquet>
    <h2 style="text-align:center;">No Banquets for now</h2>
  </ng-template>
</div>

<!--
<div class="meals">
  <h1 class="sectionTitle" i18n="restaurant-title2 | Notre carte title">Our Menu</h1>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Starters">
      <div class="meals">
        <mat-card class="meal-item" *ngFor="let meal of starters">
          <mat-card-header>
            <h2>{{meal.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{meal.image}}" alt="{{meal.title}}">
          <mat-card-content>
            <p>{{meal.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{meal.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Main Course">
      <div class="meals">
        <mat-card class="meal-item" *ngFor="let meal of mains">
          <mat-card-header>
            <h2>{{meal.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{meal.image}}" alt="{{meal.title}}">
          <mat-card-content>
            <p>{{meal.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{meal.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Desserts">
      <div class="meals">
        <mat-card class="meal-item" *ngFor="let meal of desserts">
          <mat-card-header>
            <h2>{{meal.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{meal.image}}" alt="{{meal.title}}">
          <mat-card-content>
            <p>{{meal.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{meal.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
-->

<div class="book">
  <h1 class="sectionTitle" i18n="restaurant-reservation | réservation">Reservations: 078/685 45 54</h1>
</div>
