<video autoplay loop muted>
  <source src="../../assets/vidéos/restaurant.mp4" type="video/mp4">
</video>

<div class="halfboard">
  <h1 class="sectionTitle" i18n="restaurant-title | Demi-Pension title">Daily Menu</h1>
  <pdf-viewer *ngIf="dailyMenu; else noPdf" [src]="dailyMenu.pdf" [render-text]="true" [zoom-scale]="'page-width'" style="display:block;"></pdf-viewer>
  <ng-template #noPdf>
    <h2 style="text-align:center;">No Menu today</h2>
  </ng-template>
</div>

<div class="menu">
  <h1 class="sectionTitle" i18n="restaurant-title2 | Notre carte title">Our Menu</h1>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Starters">
      <div class="menus">
        <mat-card class="menu-item" *ngFor="let menu of starters">
          <mat-card-header>
            <h2>{{menu.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{menu.image}}" alt="{{menu.title}}">
          <mat-card-content>
            <p>{{menu.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{menu.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Main Course">
      <div class="menus">
        <mat-card class="menu-item" *ngFor="let menu of mains">
          <mat-card-header>
            <h2>{{menu.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{menu.image}}" alt="{{menu.title}}">
          <mat-card-content>
            <p>{{menu.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{menu.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Desserts">
      <div class="menus">
        <mat-card class="menu-item" *ngFor="let menu of desserts">
          <mat-card-header>
            <h2>{{menu.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{menu.image}}" alt="{{menu.title}}">
          <mat-card-content>
            <p>{{menu.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <p>{{menu.price | currency}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>



<div class="book">
  <h1 class="sectionTitle" i18n="restaurant-reservation | réservation">Reservations: 078/685 45 54</h1>
</div>
