<h1 class="mainTitle" i18n="services-title | titre principal">Services</h1>
<mat-card>
  <p i18n="services-description | la description de tous les services">The hotel features a wide range of services and you will feel like being at home. From 7 am to 23pm our staff will be there for anything you need. The hotel provides car rental
    and parking.</p>
</mat-card>

<mat-divider></mat-divider>

<div class="services">
  <div *ngFor="let service of services" class="service">
    <i class="fas {{service.icon}}"></i>
    <div mat-line class="name">{{service.name}}</div>
  </div>
  <mat-divider></mat-divider>
</div>
