<div class="wrapper">
  <div class="dream">
    <video autoplay loop muted playsinline>
      <source src="../../../assets/vidéos/Fitness.mp4" type="video/mp4" />
    </video>
  </div>

  <h1 class="fitTitle" i18n="fit-title | Titre de la page">
    Your Fitness Studio in Adelboden
  </h1>

  <p class="text">Equipped with a wide selection of strength and cardio machines, the Fitness Studio Hotel Beau-Site has
    everything
    you need to stay in shape!</p>

  <div class="panel">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title i18n="fit-offers | titre des offres">
          Offers
        </mat-panel-title>
        <mat-panel-description i18n="fit-offers-descriptions" class="offer-title">
          Choose the plan that fits your needs.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="offers">
        <div class="offer" *ngFor="let o of offers">
          <p>{{ o.description }}</p>
          <p>{{ o.price }}.-</p>
        </div>
      </div>
      <button mat-raised-button color="accent" class="orderButton" (click)="orderSubscription()"
        i18n="fit-suscribe | commander une offre">
        Suscribe / Renew
      </button>
    </mat-expansion-panel>
  </div>

  <h1 class="fitSubtitle" i18n="fit-benefits | titre des avantages">
    Benefits
  </h1>
  <div class="benefits">
    <mat-card class="benefit-card" *ngFor="let benefit of benefits">
      <mat-card-header>
        <mat-card-title>{{ benefit.title | uppercase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ benefit.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <p class="conditions" i18n="promotions-conditions | terms apply">* Terms apply, contact us for more information</p>
  <mat-divider></mat-divider>
</div>