mat-card {
  margin: 2em;
}

pdf-viewer {
  display: block;
  height: 80vh;
}

.bookButton {
  margin-left: 10px;
}

mat-card-content {
  margin-left: 14px;
}

mat-card-actions {
  margin-left: 3px;
}

a {
  margin-bottom: 3px;
}

.special-btn {
  position: relative;
  font-size: 3em;
}