<div *ngIf="promotion">
  <mat-card>
    <div>
      <h1 class="mainTitle">{{promotion.title | uppercase}}</h1>
      <h2 class="sectionTitle">{{promotion.subtitle | titlecase}}</h2>
    </div>
    <img mat-card-image src="{{promotion.image}}">
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-content>
      <p>{{promotion.description}}</p>
    </mat-card-content>
    <mat-card-subtitle>Details</mat-card-subtitle>
    <div class="pdf" *ngIf="promotion.pdf">
      <pdf-viewer [src]="promotion.pdf" [render-text]="true" [original-size]="true" [fit-to-page]="true" [show-borders]="true" [show-all]="false">
      </pdf-viewer>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="book()" class="bookButton">Book</button>
    </mat-card-actions>
  </mat-card>
</div>
<a routerLink="/promotions"><button mat-button i18n="promotions-back | bouton retour">Back to promotions</button></a>
