body,
html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.mainTitle {
  color: black;
  font-size: 2em !important;
  text-align: center;
  margin: 2em !important;
  line-height: 1.3em !important;
}

.sectionTitle {
  color: black;
  font-size: 2em !important;
  text-align: center;
  margin: 1em !important;
  line-height: 1.1em !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';