body,
html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.mainTitle {
  color: black;
  text-align: center;
  font-size: 2em !important;
  margin-top: 2em !important;
  margin-left: .7em !important;
  margin-right: .7em !important;
  line-height: 1.3em !important;
  min-width: 330px;
}

.sectionTitle {
  color: black;
  font-size: 2em !important;
  text-align: center;
  margin: 1em !important;
  line-height: 1.1em !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';