<mat-divider></mat-divider>
<div class="footer">
  <h1 class="sectionTitle">HOTEL BEAU-SITE - BOUTIQUE CHALET ★★★★</h1>
  <p>Dorfstrasse 5, 3715 Adelboden (Bern, Switzerland)</p>
  <p>Tel.: +41 (0)33 673 82 82</p>
  <p>Email: <a href="info@hotelbeausite.ch">info@hotelbeausite.ch</a></p>
  <div class="network">
    <a
      href="https://www.facebook.com/Boutique-Hotel-Beau-Site-182846971741079/"
      target="_blank"
      ><img
        src="../../assets/images/logo/facebook.svg"
        alt="Hotel Beau-Site Facebook's page"
    /></a>
    <a href="https://www.instagram.com/beau.site/" target="_blank"
      ><img
        src="../../assets/images/logo/instagram.svg"
        alt="Hotel Beau-Site Instagram's page"
    /></a>
    <a
      href="https://www.google.es/maps?q=Hotel+Beau-Site+-+Boutique+Chalet+Adelboden+-+Suiza&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiQv6D01NnKAhUJVz4KHdfyC8UQ_AUIBygB"
      target="_blank"
      ><img
        src="../../assets/images/logo/google.svg"
        alt="Hotel Beau-Site Google's page"
    /></a>
  </div>
</div>
