<mat-divider></mat-divider>
<div class="footer">
  <h1 class="mainTitle">HOTEL BEAU-SITE - BOUTIQUE CHALET ★★★★</h1>
  <p>Dorfstrasse 5, 3715 Adelboden (Switzerland)</p>
  <p>Tel.: (+41)33 673 82 82</p>
  <p>Email: <a href="info@hotelbeausite.ch">info@hotelbeausite.ch</a></p>
  <div class="network">
    <a href="https://www.facebook.com/Boutique-Hotel-Beau-Site-182846971741079/"
      ><img src="../../assets/images/logo/facebook.svg"
    /></a>
    <a href="https://www.instagram.com/beau.site/"
      ><img src="../../assets/images/logo/instagram.svg"
    /></a>
    <a
      href="https://www.google.es/maps?q=Hotel+Beau-Site+-+Boutique+Chalet+Adelboden+-+Suiza&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiQv6D01NnKAhUJVz4KHdfyC8UQ_AUIBygB"
      ><img src="../../assets/images/logo/google.svg"
    /></a>
  </div>
</div>
