.footer {
  margin: 2em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network {
  display: flex;
  flex-direction: row;
  img {
    width: 48px;
    margin-left: 1em;
    margin-right: 1em;
  }
}

