<mat-divider></mat-divider>
<div class="footer">
  <h1 class="title">HOTEL BEAU-SITE - BOUTIQUE CHALET ★★★★</h1>
  <p>Dorfstrasse 5, 3715 Adelboden (Bern, Switzerland)</p>
  <p>Tel.: {{ phone }}</p>
  <p>Email: <a href="info@hotelbeausite.ch">info@hotelbeausite.ch</a></p>
  <div class="network">
    <a href="{{ facebookLink }}" target="_blank"
      ><img
        src="../../assets/images/logo/facebook.svg"
        alt="Hotel Beau-Site Facebook's page"
    /></a>
    <a href="{{ instagramLink }}" target="_blank"
      ><img
        src="../../assets/images/logo/instagram.svg"
        alt="Hotel Beau-Site Instagram's page"
    /></a>
    <a href="{{ googleLink }}" target="_blank"
      ><img
        src="../../assets/images/logo/google.svg"
        alt="Hotel Beau-Site Google's page"
    /></a>
  </div>
</div>
