<div class="rooms">
  <mat-card class="room-card" *ngFor="let room of rooms">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ room.title | uppercase }}</mat-card-title>
    </mat-card-header>

    <ngb-carousel
      *ngIf="room.images"
      [showNavigationIndicators]="true"
      [pauseOnHover]="true"
      [interval]="3000"
      class="carousel"
    >
      <ng-template *ngFor="let image of room.images" ngbSlide>
        <div class="picsum-img-wrapper">
          <img mat-card-image src="{{ image }}" alt="{{room.title}} image" />
        </div>
      </ng-template>
    </ngb-carousel>

    <mat-card-content class="description">
      <p class="description-detail">{{ room.description }}</p>
      <p class="description-detail">room size: {{ room.roomSize }}m²</p>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="rooms-title"> Services </mat-panel-title>
            <mat-panel-description i18n="rooms-description">
              Summary
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="services">
            <div *ngFor="let service of room.services" class="service">
              <mat-icon> {{ service.icon }} </mat-icon>
              <div mat-line class="name">{{ service.name }}</div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-actions>
      <a
        href="https://live.ipms247.com/booking/book-rooms-hotelbeausite"
        target="_blank"
      >
        <button
          mat-raised-button
          i18n="rooms-book | réserver mtn"
          type="button"
        >
          Book Now
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
