.rooms {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  //align-items: center;
}

.room-card {
  margin: 1em;
  width: 44%;
  //background-color: rgba(100, 28, 34, 0.3);
  //background-color: rgba($color: #492d06, $alpha: .2);

}

.service {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 1%;
  width: 50%;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
}

.description-detail {
  margin: 1em;
}

img {
  max-height: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (max-width: 400px) {
  .room-card {
    margin: 1em;
    width: auto;
  }
}
