.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  column-gap: 50px;
  margin-bottom: 5%;
  //background-color: rgba($color: #492d06, $alpha: .2);
  border-radius: 1em;
  justify-content: space-around;
  padding: 5px;
}

.text {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 60%;
}

button {
  min-width: 75px;
  min-height: 50px;
}

.address {
  font-size: large;
  text-align: center;
}

.textarea {
  min-width: 350px;
  width: 96%;
}

img {
  //transform: scaleY(.8);
  height: fit-content;
}

.sectionTitle {
  margin-top:1em;
  margin-bottom: .3em;
}