<h1 class="sectionTitle">Feel free to contact us</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">

  <mat-form-field appearance="standard">
    <input required matInput type="text" formControlName="name" placeholder="Your name">
  </mat-form-field>
  
  <mat-form-field appearance="standard">
    <input required matInput type="email" formControlName="email" placeholder="Your email">
    <mat-error *ngIf="contactForm.invalid" i18n="invalid-email | email invalide">invalid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="textarea">
    <textarea required matInput formControlName="content"
      placeholder="Ex. We would like to make a reservation for our marriage anniversary..."></textarea>
    <mat-error *ngIf="contactForm.invalid" i18n="invalid-size | dites nous en plus">Please tell us more about your
      request</mat-error>
  </mat-form-field>

  <button mat-fab color="primary" aria-label="Submit review" [disabled]="!contactForm.valid">
    <mat-icon>input</mat-icon>
  </button>
</form>

<h2 class="sectionTitle">Where to find us</h2>
<br>
<p class="text">
  As you enter the village, turn right in front of the post office, drive straight for 100 meters. You'll find our
  establishment before the curve on your right.
</p>
<div class="address">Dorfstrasse 5</div>
<div class="address">3715 Adelboden</div>
<br>
<img src="../../assets/images/contact/map.webp" alt="Beau-Site Hotel located in Adelboden map." style="width:100%">