.form {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 100%;
}

.textarea {
  width: 100%;
}
